Make-blue print/Bulk Add Google Sheet Rows.json
{
    "name": "Bulk Add Google Sheet Rows",
    "flow": [
        {
            "id": 1,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1387667
            },
            "mapper": {
                "datasetId": "KR46cLPDZazDFRI3Q",
                "type": "clean",
                "format": "json",
                "limit": "100000",
                "offset": "1"
            },
            "metadata": {
                "designer": {
                    "x": -664,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "LeftClick",
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            }
                        }
                    },
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "rowSeparator": "other",
                "otherRowSeparator": ",",
                "feeder": 1
            },
            "mapper": {
                "value": "[\"{{1.linkedin_url}}\", \"{{1.title}}\", \"{{1.first_name}}\", \"{{1.country}}\"]"
            },
            "metadata": {
                "designer": {
                    "x": -375,
                    "y": 1
                },
                "restore": {
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    },
                    "extra": {
                        "feeder": {
                            "label": "Apify - Get Dataset Items [1]"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "google-sheets:makeAPICall",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1548308
            },
            "mapper": {
                "url": "spreadsheets/1_Ygbg3cXOuBRr9PS9R81Hq5Ql275odci1gdG0BJW8kI/values/A:Z:append",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "qs": [
                    {
                        "key": "valueInputOption",
                        "value": "USER_ENTERED"
                    }
                ],
                "body": "{\"values\":[{{7.text}}]}"
            },
            "metadata": {
                "designer": {
                    "x": -75,
                    "y": 3,
                    "name": "Bulk Add to Sheet"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "nick@leftclick.ai (nick@leftclick.ai)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header",
                            "name": "value"
                        }
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}